body {
  background-color: wheat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.menu-option {
  float: left;
}

.contact {
  color: black;
}

#project {
  color: black;
}

#project:hover {
  color: black;
}
